<div class="account-main">
    <div class="profile-links-box">
        <div class="profile-link">
            <img src="../../../../assets/recent search/img-1.jpg" alt="">
            <h1>Muhammad Ibrahim</h1>
            <div class="right-profile-img">
                <img src="../../../../assets/recent search/img-1.jpg" alt="">
            </div>
        </div>
        <div class="seprate-line"></div>
        <div class="all-profile">
            <h1>See all profiles</h1>
            <span>50+</span>
        </div>
    </div>
    <div class="account-options-wrapper">
        <div class="account-options">
            <div class="icon">
                <i data-visualcompletion="css-img" class="x1b0d499 xep6ejk" style="background-image: url(&quot;https://static.xx.fbcdn.net/rsrc.php/v3/yh/r/DMVg9ZRX2TE.png&quot;); background-position: -126px -105px; background-size: auto; width: 20px; height: 20px; background-repeat: no-repeat; display: inline-block;"></i>
            </div>
            <h1>Setting & privacy</h1>
            <div class="right-arrow">
                <i data-visualcompletion="css-img" class="x1b0d499 x1d69dk1" style="background-image: url(&quot;https://static.xx.fbcdn.net/rsrc.php/v3/yh/r/DMVg9ZRX2TE.png&quot;); background-position: -108px -26px; background-size: auto; width: 24px; height: 24px; background-repeat: no-repeat; display: inline-block;"></i>
            </div>
        </div>
        <div class="account-options">
            <div class="icon">
                <i data-visualcompletion="css-img" class="x1b0d499 xep6ejk" style="background-image: url(&quot;https://static.xx.fbcdn.net/rsrc.php/v3/y_/r/ZGGuCZR7PNp.png&quot;); background-position: 0px -415px; background-size: auto; width: 20px; height: 20px; background-repeat: no-repeat; display: inline-block;"></i>    
            </div>
            <h1>Help & support</h1>
            <div class="right-arrow">
                <i data-visualcompletion="css-img" class="x1b0d499 x1d69dk1" style="background-image: url(&quot;https://static.xx.fbcdn.net/rsrc.php/v3/yh/r/DMVg9ZRX2TE.png&quot;); background-position: -108px -26px; background-size: auto; width: 24px; height: 24px; background-repeat: no-repeat; display: inline-block;"></i>
            </div>
        </div>
        <div class="account-options">
            <div class="icon">
                <i data-visualcompletion="css-img" class="x1b0d499 xep6ejk" style="background-image: url(&quot;https://static.xx.fbcdn.net/rsrc.php/v3/y2/r/4ziLwJbjgPJ.png&quot;); background-position: 0px -467px; background-size: auto; width: 20px; height: 20px; background-repeat: no-repeat; display: inline-block;"></i>    
            </div>
            <h1>Display & accessibility</h1>
            <div class="right-arrow">
                <i data-visualcompletion="css-img" class="x1b0d499 x1d69dk1" style="background-image: url(&quot;https://static.xx.fbcdn.net/rsrc.php/v3/yh/r/DMVg9ZRX2TE.png&quot;); background-position: -108px -26px; background-size: auto; width: 24px; height: 24px; background-repeat: no-repeat; display: inline-block;"></i>
            </div>
        </div>
        <div class="account-options">
            <div class="icon">
                <i data-visualcompletion="css-img" class="x1b0d499 xep6ejk" style="background-image: url(&quot;https://static.xx.fbcdn.net/rsrc.php/v3/y_/r/ZGGuCZR7PNp.png&quot;); background-position: 0px -205px; background-size: auto; width: 20px; height: 20px; background-repeat: no-repeat; display: inline-block;"></i>    
            </div>
            <h1>Give feedback</h1>  
        </div>
        <div class="account-options">
            <div class="icon">
                <i data-visualcompletion="css-img" class="x1b0d499 xep6ejk" style="background-image: url(&quot;https://static.xx.fbcdn.net/rsrc.php/v3/yR/r/TA56SPvhkEv.png&quot;); background-position: 0px -717px; background-size: auto; width: 20px; height: 20px; background-repeat: no-repeat; display: inline-block;"></i>    
            </div>
            <h1>Log out</h1>
        </div>
    </div>
    <div class="bottom-links">
        <a href="">Privacy , </a>
        <a href="">Terms , </a>
        <a href="">Advertising , </a>
        <a href="">Ad choices , </a>
        <a href="">Cookies. </a>
        <span>More . Muhammad Ibrahim &copy; 2023</span>
    </div>
</div>
