<div class="main">
    <!-- =========================-->
    <!-- displayed links start -->
    <div class="links">
        <div class="image">
            <img src="../../../../../../assets/recent search/img-1.jpg" alt="">
        </div>
        <div class="name">
            <h1>Muhammad Ibrahim</h1>
        </div>
    </div>
    <div class="links">
        <div class="image">
            <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yg/r/IDuJShpKhav.png" alt="">
        </div>
        <div class="name">
            <h1>Friends</h1>
        </div>
    </div>
    <div class="links">
        <div class="image">
            <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yC/r/G_tsqBLQpdP.png" alt="">  
        </div>
        <div class="name">
            <h1>Marketplace</h1>
        </div>
    </div>
    <div class="links">
        <div class="image">
            <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yr/r/qfMB40PdgWb.png" alt="">
        </div>
        <div class="name">
            <h1>Events</h1>
        </div>
    </div>
    <div class="links">
        <div class="image">
            <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yb/r/eECk3ceTaHJ.png" alt="">
        </div>
        <div class="name">
            <h1>Most recent</h1>
        </div>
    </div>
    <div class="links">
        <div class="image">
            <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yx/r/XNFKm5WC2yS.png" alt="">    
        </div>
        <div class="name">
            <h1>Watch</h1>
        </div>
    </div>
    <div class="links">
        <div class="image">
            <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yN/r/6Z9DShdc7zU.png" alt="">
        </div>
        <div class="name">
            <h1>Messnger kids</h1>
        </div>
    </div>
    <div class="links">
        <div class="image">
            <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yJ/r/fGWbDwbx9W4.png" alt="">
        </div>
        <div class="name">
            <h1>Gaming videos</h1>
        </div>
    </div>
    <div class="links">
        <div class="image">
            <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yZ/r/MhkwI3R0SHP.png" alt="">
        </div>
        <div class="name">
            <h1>Groups</h1>
        </div>
    </div>
    <div class="links">
        <div class="image">
            <img src="https://static.xx.fbcdn.net/rsrc.php/v3/y8/r/he-BkogidIc.png" alt="">
        </div>
        <div class="name">
            <h1>Memories</h1>
        </div>
    </div>
    <div class="links" (click)="openLinks()" *ngIf="seeMoreDisplay">
        <div class="hidden-and-show">
            <svg fill="currentColor" viewBox="0 0 16 16" width="1em" height="1em" class="x1lliihq x1k90msu x2h7rmj x1qfuztq x198g3q0 x1qx5ct2 xw4jnvo"><g fill-rule="evenodd" transform="translate(-448 -544)"><path fill-rule="nonzero" d="M452.707 549.293a1 1 0 0 0-1.414 1.414l4 4a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L456 552.586l-3.293-3.293z"></path></g></svg>
        </div>
        <div class="name">
            <h1>See more</h1>
        </div>
    </div>
    <!-- displayed links end -->
    <!-- =========================-->
    <!-- ======================= -->
    <!-- hiden links start -->
    <div class="hidden-links" *ngIf="hiddenLinksDisplay">
        <div class="links">
            <div class="image">
                <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/CwKNCefmHON.png" alt="">
            </div>
            <div class="name">
                <h1>Ad Centre</h1>
            </div>
        </div>
        <div class="links">
            <div class="image">
                <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yN/r/ATlxuj_J5ty.png" alt="">
            </div>
            <div class="name">
                <h1>Ad Manager</h1>
            </div>
        </div>
        <div class="links">
            <div class="image">
                <img src="https://static.xx.fbcdn.net/rsrc.php/v3/y8/r/he-BkogidIc.png" alt="">
            </div>
            <div class="name">
                <h1>Blood Donations</h1>
            </div>
        </div>
        <div class="links">
            <div class="image">
                <img src="https://static.xx.fbcdn.net/rsrc.php/v3/y3/r/Jr0q8qKF2-Y.png" alt="">
            </div>
            <div class="name">
                <h1>Climate science Center</h1>
            </div>
        </div>
        <div class="links">
            <div class="image">
                <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/fNPcDZC-2PD.png" alt="">
            </div>
            <div class="name">
                <h1>Crisis Response</h1>
            </div>
        </div>
        <div class="links">
            <div class="image">
                <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yK/r/mAnT0r8GSOm.png" alt="">
            </div>
            <div class="name">
                <h1>Favorites</h1>
            </div>
        </div>
        <div class="links">
            <div class="image">
                <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yV/r/YfOs3-aAEm6.png" alt="">
            </div>
            <div class="name">
                <h1>Fundraisers</h1>
            </div>
        </div>
        <div class="links">
            <div class="image">
                <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yK/r/BNA7dRpTdeH.png" alt="">
            </div>
            <div class="name">
                <h1>Live videos</h1>
            </div>
        </div>
        <div class="links">
            <div class="image">
                <i data-visualcompletion="css-img" class="" style="background-image: url(&quot;https://static.xx.fbcdn.net/rsrc.php/v3/yO/r/I1yKwSK7TzJ.png&quot;); background-position: 0px -37px; background-size: auto; width: 36px; height: 36px; background-repeat: no-repeat; display: inline-block;"></i>
            </div>
            <div class="name">
                <h1>messenger</h1>
            </div>
        </div>
        <div class="links">
            <div class="image">
                <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yv/r/GJ4EaivDaSj.png" alt="">
            </div>
            <div class="name">
                <h1>Order and payment</h1>
            </div>
        </div>
        <div class="links">
            <div class="image">
                <img src="https://static.xx.fbcdn.net/rsrc.php/v3/y2/r/7RdHDScIkAe.png" alt="">
            </div>
            <div class="name">
                <h1>Pages</h1>
            </div>
        </div>
        <div class="links">
            <div class="image">
                <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yJ/r/fGWbDwbx9W4.png" alt="">
            </div>
            <div class="name">
                <h1>Play games</h1>
            </div>
        </div>
        <div class="links">
            <div class="image">
                <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yv/r/x2_LFd7gCqg.png" alt="">
            </div>
            <div class="name">
                <h1>Recent and activity</h1>
            </div>
        </div>
        <div class="links">
            <div class="image">
                <i data-visualcompletion="css-img" class="" style="background-image: url(&quot;https://static.xx.fbcdn.net/rsrc.php/v3/yx/r/yjJFVz39oV-.png&quot;); background-position: 0px 0px; background-size: auto; width: 36px; height: 36px; background-repeat: no-repeat; display: inline-block;"></i>
            </div>
            <div class="name">
                <h1>Reels</h1>
            </div>
        </div>
        <div class="links">
            <div class="image">
                <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yS/r/k0Svfg6IJtR.png" alt="">
            </div>
            <div class="name">
                <h1>Saved</h1>
            </div>
        </div>
        <div class="links" (click)="hideLinks()">
            <div class="hidden-and-show">
                <svg fill="currentColor" viewBox="0 0 20 20" width="1em" height="1em" class="x1lliihq x1k90msu x2h7rmj x1qfuztq x198g3q0 x1qx5ct2 xw4jnvo"><path d="M15.47 12.2 10 6.727 4.53 12.2a.75.75 0 0 1-1.06-1.061l6-6a.751.751 0 0 1 1.06 0l6 6a.75.75 0 0 1-1.06 1.061z"></path></svg></div>
            <div class="name">
                <h1>See more</h1>
            </div>
        </div>
    </div>
    <!-- hiden links end -->
    <!-- ======================= -->
    <div class="seprate-line">

    </div>
    <!-- ======================= -->
    <!-- shortcuts  start -->
    <div class="shortcuts">
        <div class="top-heading">
            <h1>Your shortcuts</h1>
            <button>Edit</button>
        </div>
        <div class="page-link">
            <img src="../../../../../../assets/recent search/img-1.jpg" alt="">
            <h1>Front End Development</h1>
        </div>
        <div class="bottom-links">
            <a href="">Privacy , </a>
            <a href="">Terms , </a>
            <a href="">Advertising , </a>
            <a href="">Ad choices , </a>
            <a href="">Cookies. </a>
            <span>More . Muhammad Ibrahim &copy; 2023</span>
        </div>
    </div>
    <!-- shortcuts  start -->
    <!-- ======================= -->
</div>
