<div class="messenger-main">
    <div class="messenger-top-conetent">
        <div class="heading">
            <h1>Chats</h1>
        </div>
        <div class="icons">
            <div class="icon-wrapper">
                <i class="fa-solid fa-ellipsis"></i>
            </div>
            <div class="icon-wrapper">
                <i class="fa-sharp fa-solid fa-minimize"></i>
            </div>
            <div class="icon-wrapper">
                <i class="fa-solid fa-circle-plus"></i>
            </div>
            <div class="icon-wrapper">
                <i class="fa-solid fa-pen-to-square"></i>
            </div>
        </div>
    </div>
    <div class="search-box">
        <div class="icon">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="search-input">
            <input type="text" placeholder="Search Messenger">
        </div>
    </div>
    <div class="inbox">
        <div class="inbox-heading">
            <h1>Inbox</h1>
        </div>
        <div class="contact">
            <div class="image">
                <img src="../../../../assets/recent search/img-1.jpg" alt="">
            </div>
            <div class="detail">
                <h1>Muhammad Ibrahim</h1>
                <p>You: Hii - 1 d</p>
                <img src="../../../../assets/recent search/img-1.jpg" alt="">
            </div>
        </div>

        <div class="contact">
            <div class="image">
                <img src="../../../../assets/recent search/img-1.jpg" alt="">
            </div>
            <div class="detail">
                <h1>Muhammad Ibrahim</h1>
                <p>You: Hii - 1 d</p>
                <img src="../../../../assets/recent search/img-1.jpg" alt="">
            </div>
        </div>
        <div class="contact">
            <div class="image">
                <img src="../../../../assets/recent search/img-1.jpg" alt="">
            </div>
            <div class="detail">
                <h1>Muhammad Ibrahim</h1>
                <p>You: Hii - 1 d</p>
                <i class="fa-solid fa-circle-check"></i>
            </div>
        </div>
        <div class="contact">
            <div class="image">
                <img src="../../../../assets/recent search/img-1.jpg" alt="">
            </div>
            <div class="detail">
                <h1>Muhammad Ibrahim</h1>
                <p>You: Hii - 1 d</p>
                <img src="../../../../assets/recent search/img-1.jpg" alt="">
            </div>
        </div>
        <div class="contact">
            <div class="image">
                <img src="../../../../assets/recent search/img-1.jpg" alt="">
            </div>
            <div class="detail">
                <h1>Muhammad Ibrahim</h1>
                <p>You: Hii - 1 d</p>
                <img src="../../../../assets/recent search/img-1.jpg" alt="">
            </div>
        </div>
        <div class="contact">
            <div class="image">
                <img src="../../../../assets/recent search/img-1.jpg" alt="">
            </div>
            <div class="detail">
                <h1>Muhammad Ibrahim</h1>
                <p>You: Hii - 1 d</p>
                <i class="fa-solid fa-circle-check"></i>
            </div>
        </div>
        <div class="contact">
            <div class="image">
                <img src="../../../../assets/recent search/img-1.jpg" alt="">
            </div>
            <div class="detail">
                <h1>Muhammad Ibrahim</h1>
                <p>You: Hii - 1 d</p>
                <i class="fa-solid fa-circle-check"></i>
            </div>
        </div>
        <div class="contact">
            <div class="image">
                <img src="../../../../assets/recent search/img-1.jpg" alt="">
            </div>
            <div class="detail">
                <h1>Muhammad Ibrahim</h1>
                <p>You: Hii - 1 d</p>
                <img src="../../../../assets/recent search/img-1.jpg" alt="">
            </div>
        </div>
        <div class="contact">
            <div class="image">
                <img src="../../../../assets/recent search/img-1.jpg" alt="">
            </div>
            <div class="detail">
                <h1>Muhammad Ibrahim</h1>
                <p>You: Hii - 1 d</p>
                <img src="../../../../assets/recent search/img-1.jpg" alt="">
            </div>
        </div>
        <div class="contact">
            <div class="image">
                <img src="../../../../assets/recent search/img-1.jpg" alt="">
            </div>
            <div class="detail">
                <h1>Muhammad Ibrahim</h1>
                <p>You: Hii - 1 d</p>
                <img src="../../../../assets/recent search/img-1.jpg" alt="">
            </div>
        </div>
    </div>
</div>
