<div class="menu-bar-main">  
    <div class="menu-bar-content">
        <div class="menu">
            <div class="menu-search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Search menu">
            </div>    
            <!-- social links start -->
            <div class="menu-links-heading">
                <h1>Social</h1>
            </div>
            <div class="menu-links-wrapper">
                <div class="menu-links">
                    <div class="image">
                        <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yr/r/qfMB40PdgWb.png" alt="">   
                    </div>
                    <div class="detail">
                        <h1>Events</h1>
                        <p>Organise or find events and other things to do online and nearby.</p>
                    </div>
                </div>
            </div>
            <div class="menu-links-wrapper">
                <div class="menu-links">
                    <div class="image">
                        <img src="https://static.xx.fbcdn.net/rsrc.php/v3/y8/r/S0U5ECzYUSu.png" alt="">   
                    </div>
                    <div class="detail">
                        <h1>Friends</h1>
                        <p>Search for friends or people you may know.</p>
                    </div>
                </div>
            </div>
            <div class="menu-links-wrapper">
                <div class="menu-links">
                    <div class="image">
                        <img src="https://static.xx.fbcdn.net/rsrc.php/v3/y5/r/PrjLkDYpYbH.png" alt="">  
                    </div>
                    <div class="detail">
                        <h1>Groups</h1>
                        <p>Connect with people who share your interests.</p>
                    </div>
                </div>
            </div>
            <div class="menu-links-wrapper">
                <div class="menu-links">
                    <div class="image">
                        <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yJ/r/FqUGk9K0fOs.png" alt="">   
                    </div>
                    <div class="detail">
                        <h1>News Feed</h1>
                        <p>See relevant posts from people and Pages that you follow.</p>
                    </div>
                </div>
            </div>
            <div class="menu-links-wrapper">
                <div class="menu-links">
                    <div class="image">
                        <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yK/r/mAnT0r8GSOm.png" alt="">   
                    </div>
                    <div class="detail">
                        <h1>Favourites</h1>
                        <p>View posts by Favorites</p>
                    </div>
                </div>
            </div>
            <div class="menu-links-wrapper">
                <div class="menu-links">
                    <div class="image">
                        <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yb/r/eECk3ceTaHJ.png" alt="">
                    </div>
                    <div class="detail">
                        <h1>Most Recent</h1>
                        <p>Organise or find events and other things to do online and nearby.</p>
                    </div>
                </div>
            </div>
            <div class="menu-links-wrapper">
                <div class="menu-links">
                    <div class="image">
                        <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yH/r/kyCAf2jbZvF.png" alt=""> 
                    </div>
                    <div class="detail">
                        <h1>Pages</h1>
                        <p>Discover and connect with businesses on Facebook.</p>
                    </div>
                </div>
            </div>    
            <div class="seprate-line"></div>
            <!-- social links end -->
            <!-- Entertainment links start -->
            <div class="menu-links-heading">
                <h1>Entertainment</h1>
            </div>
            <div class="menu-links-wrapper">
                <div class="menu-links">
                    <div class="image">
                        <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yJ/r/fGWbDwbx9W4.png" alt="">  
                    </div>
                    <div class="detail">
                        <h1>Gaming videos</h1>
                        <p>Watch and connect with your favourite games and streamers.</p>
                    </div>
                </div>
            </div>
            <div class="menu-links-wrapper">
                <div class="menu-links">
                    <div class="image">
                        <img src="https://static.xx.fbcdn.net/rsrc.php/v3/y3/r/JzYamtSussX.png" alt="">                          
                    </div>
                    <div class="detail">
                        <h1>Play games</h1>
                        <p>Play your favourite games.</p>
                    </div>
                </div>
            </div>
            <div class="menu-links-wrapper">
                <div class="menu-links">
                    <div class="image">
                        <img src="https://static.xx.fbcdn.net/rsrc.php/v3/y5/r/duk32h44Y31.png" alt="">                       
                    </div>
                    <div class="detail">
                        <h1>Watch</h1>
                        <p>A video destination personalised to your interests and connections.</p>
                    </div>
                </div>
            </div>
            <div class="menu-links-wrapper">
                <div class="menu-links">
                    <div class="image">
                        <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yK/r/BNA7dRpTdeH.png" alt="">                        
                    </div>
                    <div class="detail">
                        <h1>Live videos</h1>
                        <p>Watch popular live videos from around the world</p>
                    </div>
                </div>
            </div>    
            <div class="seprate-line"></div>
            <!-- social links end -->
            <!-- shopping links start -->
            <div class="menu-links-heading">
                <h1>Shopping</h1>
            </div>
            <div class="menu-links-wrapper">
                <div class="menu-links">
                    <div class="image">
                        <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yv/r/GJ4EaivDaSj.png" alt="">                    
                    </div>
                    <div class="detail">
                        <h1>Order and payment</h1>
                        <p>A seamless, secure way to pay in the apps you already use.</p>
                    </div>
                </div>
            </div>
            <div class="menu-links-wrapper">
                <div class="menu-links">
                    <div class="image">
                        <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yU/r/D2y-jJ2C_hO.png" alt="">                         
                    </div>
                    <div class="detail">
                        <h1>Marketplace</h1>
                        <p>Buy and sell in your community.</p>
                    </div>
                </div>
            </div>    
            <div class="seprate-line"></div>
            <!-- shopping links end -->
            <!-- perosnonal links start -->
            <div class="menu-links-heading">
                <h1>Personal</h1>
            </div>
            <div class="menu-links-wrapper">
                <div class="menu-links">
                    <div class="image">
                        <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yj/r/8OasGoQgQgF.png" alt="">                   
                    </div>
                    <div class="detail">
                        <h1>Recent ad activity</h1>
                        <p>See all of the ads you've interacted with on Facebook.</p>
                    </div>
                </div>
            </div>
            <div class="menu-links-wrapper">
                <div class="menu-links">
                    <div class="image">
                        <img src="https://static.xx.fbcdn.net/rsrc.php/v3/y8/r/he-BkogidIc.png" alt="">                               
                    </div>
                    <div class="detail">
                        <h1>Memories</h1>
                        <p>Browse your old photos, videos and posts on Facebook.</p>
                    </div>
                </div>
            </div>
            <div class="menu-links-wrapper">
                <div class="menu-links">
                    <div class="image">
                        <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/lVijPkTeN-r.png" alt="">   
                    </div>
                    <div class="detail">
                        <h1>Saved</h1>
                        <p>Find posts, photos and videos that you've saved for later.</p>
                    </div>
                </div>
            </div>    
            <div class="seprate-line"></div>
            <!-- perosnonal links end -->
            <!-- profesional links start -->
            <div class="menu-links-heading">
                <h1>Professional</h1>
            </div>
            <div class="menu-links-wrapper">
                <div class="menu-links">
                    <div class="image">
                        <img src="https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/DHBHg9MEeSC.png" alt=""> 
                    </div>
                    <div class="detail">
                        <h1>Ads Manager</h1>
                        <p>Create, manage and track the performance of your ads.</p>
                    </div>
                </div>
            </div>
            <div class="menu-links-wrapper">
                <div class="menu-links">
                    <div class="image">
                        <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/CwKNCefmHON.png" alt="">
                    </div>
                    <div class="detail">
                        <h1>Ads Centre</h1>
                        <p>Manage all of the ads that you create in Pages, with streamlined features.</p>
                    </div>
                </div>
            </div>    
            <div class="seprate-line"></div>
            <!-- profesional links end -->
            <!-- community resource links start -->
            <div class="menu-links-heading">
                <h1>Community resources</h1>
            </div>
            <div class="menu-links-wrapper">
                <div class="menu-links">
                    <div class="image">
                        <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yZ/r/CpdWrf1nzR2.png" alt="">   
                    </div>
                    <div class="detail">
                        <h1>Blood Donation</h1>
                        <p>Get updates about donating blood near you.</p>
                    </div>
                </div>
            </div>
            <div class="menu-links-wrapper">
                <div class="menu-links">
                    <div class="image">
                        <img src="https://static.xx.fbcdn.net/rsrc.php/v3/y3/r/Jr0q8qKF2-Y.png" alt="">
                    </div>
                    <div class="detail">
                        <h1>climate Science Centre</h1>
                        <p>Learn about climate change and its effects.</p>
                    </div>
                </div>
            </div>
            <div class="menu-links-wrapper">
                <div class="menu-links">
                    <div class="image">
                        <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/fNPcDZC-2PD.png" alt="">
                    </div>
                    <div class="detail">
                        <h1>Crisis Response</h1>
                        <p>Find the latest updates for recent crises happening around the world.</p>
                    </div>
                </div>
            </div>
            <div class="menu-links-wrapper">
                <div class="menu-links">
                    <div class="image">
                        <img src="https://static.xx.fbcdn.net/rsrc.php/v3/y5/r/vxMUnHhu6Do.png" alt="">
                    </div>
                    <div class="detail">
                        <h1>Emotional Health</h1>
                    </div>
                </div>
            </div> 
            <div class="menu-links-wrapper">
                <div class="menu-links">
                    <div class="image">
                        <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yj/r/n2vd2VduYc1.png" alt="">                       
                    </div>
                    <div class="detail">
                        <h1>Fundraisers</h1>
                        <p>Donate and raise money for charities and personal causes.</p>
                    </div>
                </div>
            </div>    
            <div class="seprate-line"></div>
            <!-- community resource links end -->
            <!-- more from meta links start -->
            <div class="menu-links-heading">
                <h1>More from Meta</h1>
            </div>
            <div class="menu-links-wrapper">
                <div class="menu-links">
                    <div class="image">
                        <img src="https://static.xx.fbcdn.net/rsrc.php/v3/yu/r/1Xvrz50fHMF.png" alt=""> 
                    </div>
                    <div class="detail">
                        <h1>Messenger Kids</h1>
                        <p>Let children message close friends and family.</p>
                    </div>
                </div>
            </div>
            <!-- more from meta links end -->
        </div>    
        <!-- create start -->
        <div class="create">
            <app-create></app-create>
        </div>
        <!-- create end -->
    </div>
    
</div>
