<div class="main">
    <!-- ========================== -->
    <!-- page and profile start -->
    <div class="links-wrapper">
        <div class="heading">
            <h1>Friend requests</h1>
            <div class="icon">
                <i class="fa-solid fa-ellipsis"></i>
            </div>
        </div>
        <div class="links">
            <img src="../../../../../../assets/recent search/img-1.jpg" alt="">
            <h1 class="page-link">Front End Development</h1>
        </div>
        <div class="links">
            <i data-visualcompletion="css-img" style="background-image: url(&quot;https://static.xx.fbcdn.net/rsrc.php/v3/yJ/r/2cGULhiM55K.png&quot;); background-position: 0px -100px; background-size: auto; width: 20px; height: 20px; background-repeat: no-repeat; display: inline-block;"></i>
            <h1 class="other-links">4 Notifications</h1>
        </div>
        <div class="links">
            <i data-visualcompletion="css-img" style="background-image: url(&quot;https://static.xx.fbcdn.net/rsrc.php/v3/yJ/r/2cGULhiM55K.png&quot;); background-position: 0px -37px; background-size: auto; width: 20px; height: 20px; background-repeat: no-repeat; display: inline-block;"></i>
            <h1 class="other-links">Switch into Page</h1>
        </div>
        <div class="links">
            <i data-visualcompletion="css-img" class="x1b0d499 x1d69dk1" style="background-image: url(&quot;https://static.xx.fbcdn.net/rsrc.php/v3/yJ/r/2cGULhiM55K.png&quot;); background-position: 0px -205px; background-size: auto; width: 20px; height: 20px; background-repeat: no-repeat; display: inline-block;"></i>
            <h1 class="other-links">create promotion</h1>
        </div>  
    </div>
    <!-- page and profile end -->
    <!-- ===================== -->
    <div class="seprate-line"></div>
    <!-- ===================== -->
    <!-- birthdays start -->
    <div class="links-wrapper">
        <div class="heading">
            <h1>Birthdays</h1>
        </div>
        <div class="links">
            <i class="birthdays-img" style="height: 36px; width: 36px; background-image: url(&quot;https://static.xx.fbcdn.net/rsrc.php/v3/yJ/r/2cGULhiM55K.png&quot;); background-position: 0px 0px; background-size: auto; background-repeat: no-repeat; display: inline-block;"></i>
            <h1 class="page-link">Muhammad Ibrahim and 5 other have their birthday today.</h1>
        </div>  
    </div>
    <!-- birthdays end -->
    <!-- ===================== -->
    <div class="seprate-line"></div>
    <!-- ===================== -->
    <!-- conatcts start -->
    <div class="links-wrapper">
        <div class="heading">
            <h1>Contacts</h1>
            <div class="contact-icons">
                <div class="icon">
                    <i class="fa-sharp fa-solid fa-square-plus"></i>
                </div>
                <div class="icon">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <div class="icon">
                    <i class="fa-solid fa-ellipsis"></i>
                </div>
            </div>
        </div>
        <div class="links">
            <img src="../../../../../../assets/recent search/img-1.jpg" alt="">
            <h1 class="page-link">Muhammad Ibrahim</h1>
            <span></span>
        </div>
        <div class="links">
            <img src="../../../../../../assets/recent search/img-1.jpg" alt="">
            <h1 class="page-link">Muhammad Ibrahim</h1>
            <span></span>
        </div>
        <div class="links">
            <img src="../../../../../../assets/recent search/img-1.jpg" alt="">
            <h1 class="page-link">Muhammad Ibrahim</h1>
            <span></span>
        </div>
        <div class="links">
            <img src="../../../../../../assets/recent search/img-1.jpg" alt="">
            <h1 class="page-link">Muhammad Ibrahim</h1>
            <span></span>
        </div>
        <div class="links">
            <img src="../../../../../../assets/recent search/img-1.jpg" alt="">
            <h1 class="page-link">Muhammad Ibrahim</h1>
            <span></span>
        </div>
        <div class="links">
            <img src="../../../../../../assets/recent search/img-1.jpg" alt="">
            <h1 class="page-link">Muhammad Ibrahim</h1>
            <span></span>
        </div>
        <div class="links">
            <img src="../../../../../../assets/recent search/img-1.jpg" alt="">
            <h1 class="page-link">Muhammad Ibrahim</h1>
            <span></span>
        </div>
        <div class="links">
            <img src="../../../../../../assets/recent search/img-1.jpg" alt="">
            <h1 class="page-link">Muhammad Ibrahim</h1>
            <span></span>
        </div>
        <div class="links">
            <img src="../../../../../../assets/recent search/img-1.jpg" alt="">
            <h1 class="page-link">Muhammad Ibrahim</h1>
            <span></span>
        </div>
        <div class="links">
            <img src="../../../../../../assets/recent search/img-1.jpg" alt="">
            <h1 class="page-link">Muhammad Ibrahim</h1>
            <span></span>
        </div>
        <div class="links">
            <img src="../../../../../../assets/recent search/img-1.jpg" alt="">
            <h1 class="page-link">Muhammad Ibrahim</h1>
            <span></span>
        </div>
        <div class="links">
            <img src="../../../../../../assets/recent search/img-1.jpg" alt="">
            <h1 class="page-link">Muhammad Ibrahim</h1>
            <span></span>
        </div>
        <div class="links">
            <img src="../../../../../../assets/recent search/img-1.jpg" alt="">
            <h1 class="page-link">Muhammad Ibrahim</h1>
            <span></span>
        </div>
        <div class="links">
            <img src="../../../../../../assets/recent search/img-1.jpg" alt="">
            <h1 class="page-link">Muhammad Ibrahim</h1>
            <span></span>
        </div>
        <div class="links">
            <img src="../../../../../../assets/recent search/img-1.jpg" alt="">
            <h1 class="page-link">Muhammad Ibrahim</h1>
            <span></span>
        </div>
        <div class="links">
            <img src="../../../../../../assets/recent search/img-1.jpg" alt="">
            <h1 class="page-link">Muhammad Ibrahim</h1>
            <span></span>
        </div>  
    </div>
    <!-- contacts end -->
    <!-- ===================== -->
    <div class="links-wrapper">
        <div class="heading">
            <h1>Groups conversations</h1>
        </div>
        <div class="links">
            <div class="icon-box">
                <i class="fa-solid fa-plus"></i>
            </div>
            <h1 class="page-link">Create New Group</h1>
        </div>  
    </div>

</div>
