<div class="create-main">
    <div class="create-heading">
        <h1>Create</h1>
    </div>
    <div class="create-links-wrapper">
        <div class="create-links">
            <div class="icon">
                <i class="fa-solid fa-pen-to-square"></i>
            </div>
            <div class="link-name">
                <h1>Post</h1>
            </div>
        </div>
        <div class="create-links">
            <div class="icon">
                <i class="fa-solid fa-book-open"></i>
            </div>
            <div class="link-name">
                <h1>Story</h1>
            </div>
        </div>
        <div class="create-links">
            <div class="icon">
                <i class="fa-solid fa-square-plus"></i>
            </div>
            <div class="link-name">
                <h1>Room</h1>
            </div>
        </div>
        <div class="seprate-line"></div>
        <div class="create-links">
            <div class="icon">
                <i class="fa-solid fa-flag"></i>
            </div>
            <div class="link-name">
                <h1>Page</h1>
            </div>
        </div>
        <div class="create-links">
            <div class="icon">
                <i class="fa-solid fa-bullhorn"></i>
            </div>
            <div class="link-name">
                <h1>Ad</h1>
            </div>
        </div>
        <div class="create-links">
            <div class="icon">
                <i class="fa-solid fa-users"></i>
            </div>
            <div class="link-name">
                <h1>Groups</h1>
            </div>
        </div>
        <div class="create-links">
            <div class="icon">
                <i class="fa-solid fa-calendar-plus"></i>
            </div>
            <div class="link-name">
                <h1>Event</h1>
            </div>
        </div>
        <div class="create-links">
            <div class="icon">
                <i class="fa-solid fa-basket-shopping"></i>
            </div>
            <div class="link-name">
                <h1>Marketplace Listing</h1>
            </div>
        </div>
    </div>
</div>
